html,
body {
  margin: 0px;
  height: 100%;
}

body.light-mode {
  .App {
    text-align: center;
    font-family: Josefin Sans;
    background: hsl(195, 15%, 11%);
    height: 100vh;
  }
}

body.dark-mode {
  .App {
    text-align: center;
    font-family: Josefin Sans;
    background:white;
    height: 100vh;
    color:black;
  }
  .input-area {
    background: white;
    border: none;
    width: 459px;
    border-radius: 5px;
    padding: 22px;
    font-size: 18px;
    color: black;
    margin-bottom: 20px;
  }
  .todos {
    background: white;
    border: none;
    width: 500px;
    border-radius: 5px;
    font-size: 18px;
    color: black;
    margin: auto;
    height: auto;
  }
}

.header {
  display: inline-flex;
  /* justify-content: space-evenly; */
  padding: 5px 0px;
}
.dark-mode-icon {
  margin: 49px 146px;
}
.todo-main-section {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
}
.todo-view-section {
  color: white;
  border: 20px;
}
.todo-list-div {
  text-align: left;
  padding: 20px;
  border-bottom: 1px #80808082 solid;
}
.todo-list-label {
  color: grey;
  margin-left: 15px;
}
.todo-list-footer {
  padding: 10px;
  font-family: sans-serif;
  letter-spacing: 1px;
  font-size: 13px;
}
.total-todo-left {
  text-align: left;
  margin-right: 50%;
}
.checkbox {
  width: 1.3em;
  height: 1.3em;
  background-color: white;
  border-radius: 50%;
  vertical-align: middle;
  border: 1px solid #ddd;
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
}
.checkbox:checked {
  background-color: gray;
}
.input-area {
  background: hsl(235, 24%, 19%);
  border: none;
  width: 459px;
  border-radius: 5px;
  padding: 22px;
  font-size: 18px;
  color: grey;
  margin-bottom: 20px;
}
.todos {
  background: hsl(235, 24%, 19%);
  border: none;
  width: 500px;
  border-radius: 5px;
  font-size: 18px;
  color: grey;
  margin: auto;
  height: auto;
}
.input-area:active {
  border-color: hsl(195, 15%, 11%);
}

.App {
  text-align: center;
  font-family: Josefin Sans;
  background: hsl(195, 15%, 11%);
  height: 100vh;
}

.background-img {
  width: 100%;
}

h1 {
  color: white;
  letter-spacing: 15px;
  font-family: sans-serif;
  font-size: 39px;
  margin: 47px 134px;
}
