html,body{
  margin: 0px;
  height: 100%;
}
.todo-main-section{
  position: absolute;
  top: 0;
  left: 0 ;
  bottom: 0;
  right: 0;
  margin: auto;
}
.checkbox{
  width: 1.3em;
  height: 1.3em;
  background-color: white;
  border-radius: 50%;
  vertical-align: middle;
  border: 1px solid #ddd;
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
}
.checkbox:checked {
  background-color: gray;
}
.input-area{
  background: hsl(195, 15%, 11%);
  border: none;
  width: 25%;
  border-radius: 5px;
  padding: 22px;
  font-size: 18px;
  color: grey;
  margin-bottom: 20px;
}
.todos{
  background: hsl(195, 15%, 11%);
  border: none;
  width: 27.4%;
    border-radius: 5px;
  font-size: 18px;
  color: grey;
  margin:auto;
  height: auto;;
}
.input-area:active{
  border-color: hsl(195, 15%, 11%);
}

.App {
  text-align: center;
  font-family:Josefin Sans;
  background:hsl(195, 15%, 11%);
  height: 100vh;
}

.background-img{
  width: 100%;
}

h1{
  color: white;
  letter-spacing: 15px;
  font-family: sans-serif;
  font-size: 39px;
}

